# Build
build/
bin/
dev_home/
e2e/target/
e2e/.bin/
e2e/reports/**/*.md
local-memo

# Environment
.env
.env.*
.config.jsonc

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Go
vendor/

# Debug
__debug_bin*
